
@tailwind base;
@tailwind components;
@tailwind utilities;




body{
  background:rgba(0, 0, 0, 0.778);
}


.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.274);
}

.dialog.flex {
  display: flex;
}


